<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CompleteFrameworkSuite"
       parallel="none"
       thread-count="1">

    <listeners>
        <listener class-name=
        "com.capstone.notes.automation.hooks.TestListener"/>
    </listeners>

    <test name="AllTests">

        <classes>

            <!-- UI -->

            <class name=
            "com.capstone.notes.automation.tests.ui.RegisterTest"/>

            <class name=
            "com.capstone.notes.automation.tests.ui.LoginTest"/>

            <class name=
            "com.capstone.notes.automation.tests.ui.NotesTest"/>


            <!-- API -->

            <class name=
            "com.capstone.notes.automation.tests.api.NotesApiTest"/>


            <!-- Hybrid -->

            <class name=
            "com.capstone.notes.automation.tests.e2e.HybridTest"/>


            <!-- End to End -->

            <class name=
            "com.capstone.notes.automation.tests.e2e.E2ETest"/>

        </classes>

    </test>

</suite>